<template>
  <div class="w-auto h-auto py-8 px-12 rounded-md shadow">
    <div class="text-left text-2xl font-semibold mb-8">Login</div>
    <div>
      <form @submit.prevent="loginSubmit">
        <div class="mb-3">
          <input
            v-model="username"
            type="text"
            class="py-2 px-3 border-2 rounded-md"
            placeholder="Username"
          />
        </div>
        <div class="mb-8">
          <input
            v-model="passwd"
            type="password"
            class="py-2 px-3 border-2 rounded-md"
            placeholder="Password"
          />
        </div>
        <div>
          <button class="w-full bg-gray-900 rounded-md py-2 px-5 text-md font-medium text-white">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import { IUser } from '~~/types/global'

const username = ref('')
const passwd = ref('')

const emits = defineEmits<{
  (e: 'loginSubmit', payload: IUser)
}>()

const loginSubmit = () => {
  emits('loginSubmit', { username: username.value, passwd: passwd.value })
}
</script>
