<template>
  <div>
    <div class="text-4xl text-left font-bold mb-8">Personal Info</div>
    <div>
      <div class="text-lg mb-2 font-light">
        <div>Username :</div>
        <div>-> {{ userCookie.username }}</div>
      </div>
      <div class="text-lg font-light">
        <div>description :</div>
        <div>
          -> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
          has been the industry's standard dummy text ever since the 1500s, when an unknown printer
          took a galley of type and scrambled it to make a type specimen book. It has survived not
          only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { IUser } from '~/types/global'

definePageMeta({
  layout: 'cms',
})

const userCookie = useCookie<IUser>('user')
</script>
