<template>
  <div class="w-screen h-screen flex justify-center items-center">
    <LoginForm @login-submit="loginSubmit" />
  </div>
</template>

<script setup lang="ts">
import LoginForm from '~/components/pages/login/LoginForm.vue'
import { useUserStore } from '~/stores/users'
import { IUser } from '~/types/global'

const userCookie = useCookie<IUser>('user')
const { initUsers } = useUserStore()
const errorMessages = ref('')

const { data: usersRes, error: errorRes } = await useFetch<IUser[]>('/users', {
  baseURL: 'http://localhost:4700',
  initialCache: false,
  server: false,
})

watch(errorMessages, () => {
  alert(errorMessages.value)
})

watch(errorRes, () => {
  alert(errorRes.value)
})

watch(usersRes, () => {
  initUsers(usersRes.value)
})

const loginSubmit = (payload: IUser) => {
  if (errorRes.value) alert(errorRes.value)
  const user = usersRes.value.find(
    el => el.username === payload.username && el.passwd === payload.passwd
  )
  if (!user) errorMessages.value = 'User not found'
  else {
    userCookie.value = user
    navigateTo('/')
  }
}
</script>
