<template>
  <div>
    <ModalAction
      variant="add"
      :show="showAddModal"
      @toggle-show="toggleShow"
      @submit-add-user="submitAddUser"
    />
    <ModalAction
      variant="edit"
      :show="showEditModal"
      :selected-user-id="selectedUserId"
      @toggle-show="toggleShow"
      @submit-edit-user="submitEditUser"
    />
    <div class="w-full flex justify-between items-center mb-8">
      <div class="text-4xl text-left font-bold">Manage Users</div>
      <div class="flex-none">
        <button
          class="w-auto h-auto bg-gray-900 rounded-md py-2 px-5 text-md font-medium text-white"
          @click="toggleShow('add')"
        >
          +Add
        </button>
      </div>
    </div>
    <TableUsers @on-delete-user="onDeleteUser" @on-edit-user="onEditUser" />
  </div>
</template>

<script setup lang="ts">
import ModalAction from '~/components/pages/users/ModalAction.vue'
import TableUsers from '~/components/pages/users/TableUsers.vue'
import { IUser } from '~/types/global'

definePageMeta({
  layout: 'cms',
  middleware: () => {
    const userCookie = useCookie<IUser>('user')
    if (userCookie.value.type !== 'admin') return navigateTo('/')
  },
})

const showAddModal = ref(false)
const showEditModal = ref(false)
const selectedUserId = ref(undefined)

const toggleShow = (type: string) => {
  if (type === 'add') {
    showAddModal.value = !showAddModal.value
  } else if (type === 'edit') {
    showEditModal.value = !showEditModal.value
  }
}

const submitAddUser = async (newUser: IUser) => {
  try {
    await $fetch(`/users`, {
      baseURL: 'http://localhost:4700',
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: newUser,
    })
    window.location.reload()
  } catch (error) {
    alert(error)
  }
}

const onEditUser = (id: number) => {
  toggleShow('edit')
  selectedUserId.value = id
}

const submitEditUser = async (id: number, newUser: IUser) => {
  try {
    await $fetch(`/users/${id}`, {
      baseURL: 'http://localhost:4700',
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json',
      },
      body: newUser,
    })
    window.location.reload()
  } catch (error) {
    alert(error)
  }
}

const onDeleteUser = async (id: number) => {
  try {
    if (confirm(`Are you sure to delete this user?`)) {
      await $fetch(`/users/${id}`, {
        baseURL: 'http://localhost:4700',
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      window.location.reload()
    }
  } catch (error) {
    alert(error)
  }
}
</script>
