<template>
  <div
    class="fixed flex items-center w-1/4 h-screen bg-gray-900 rounded-tr-2xl rounded-br-2xl py-10 px-5"
  >
    <div class="w-full">
      <NuxtLink to="/">
        <div class="mb-5">
          <div class="text-4xl text-white font-bold">Home</div>
          <div :class="activatedLinkClass('/')" class="h-[5px] bg-white"></div>
        </div>
      </NuxtLink>
      <NuxtLink to="/info">
        <div class="mb-5">
          <div class="text-4xl text-white font-bold">Info</div>
          <div :class="activatedLinkClass('/info')" class="h-[5px] bg-white"></div>
        </div>
      </NuxtLink>
      <NuxtLink v-if="user.type === 'admin'" to="/users">
        <div class="mb-5">
          <div class="text-4xl text-white font-bold">Users</div>
          <div :class="activatedLinkClass('/users')" class="h-[5px] bg-white"></div>
        </div>
      </NuxtLink>
    </div>
    <div class="absolute bottom-10 text-md text-white font-semibold cursor-pointer" @click="logout">
      Logout
    </div>
  </div>
</template>

<script setup lang="ts">
import { IUser } from '~/types/global'

const user = useCookie<IUser>('user')
const route = useRoute()
const activatedLinkClass = (path: string) => (route.path === path ? 'w-[30px]' : 'w-0')

const logout = () => {
  user.value = undefined
  navigateTo('/login')
}
</script>
