<template>
  <div>
    <SideBar />
    <div class="relative w-3/4 left-1/4 py-10 px-5">
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
import SideBar from '~/components/layouts/cms/SideBar.vue'
</script>
