<template>
  <div>
    <div class="text-4xl text-center font-bold mb-8">
      Hello,
      <b>{{ `${user.username.toUpperCase()}!` }}</b>
    </div>
    <div>
      <img
        class="w-screen"
        src="https://media.tenor.com/uCVosr0dhnQAAAAC/anime-hello.gif"
        alt="hello"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { IUser } from '~/types/global'

definePageMeta({
  layout: 'cms',
})

const user = useCookie<IUser>('user')
</script>
