<template>
  <div v-if="show" class="fixed w-screen h-screen top-0 left-0 z-40">
    <div class="absolute w-full h-full bg-black opacity-50"></div>
    <div
      class="absolute bg-white top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] w-auto h-auto py-8 px-12 rounded-md shadow"
    >
      <div class="text-left text-2xl font-semibold mb-8">{{ text }} User</div>
      <div>
        <form @submit.prevent="submitUser">
          <div class="mb-3">
            <input
              v-model="username"
              type="text"
              class="py-2 px-3 border-2 rounded-md"
              placeholder="Username"
            />
          </div>
          <div class="mb-3">
            <input
              v-model="passwd"
              type="text"
              class="py-2 px-3 border-2 rounded-md"
              placeholder="Password"
            />
          </div>
          <div class="mb-8">
            <select
              v-model="type"
              type="text"
              class="w-full py-2 px-2 bg-white border-2 rounded-md"
            >
              <option value="" disabled>Type</option>
              <option value="admin">admin</option>
              <option value="user">user</option>
            </select>
          </div>
          <div>
            <button
              class="w-full bg-gray-900 rounded-md py-2 px-5 text-md font-medium text-white mb-3"
            >
              {{ text }}
            </button>
          </div>
          <div>
            <button
              class="w-full border-2 border-gray-900 rounded-md py-2 px-5 text-md font-medium text-gray-900"
              @click="emits('toggleShow', variant)"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useUserStore } from '~/stores/users'
import { IUser } from '~~/types/global'

const props = defineProps<{
  variant: string
  show: boolean
  selectedUserId?: number
}>()

const emits = defineEmits<{
  (e: 'toggleShow', type: string): void
  (e: 'submitAddUser', newUser: IUser): void
  (e: 'submitEditUser', id: number, newUser: IUser): void
}>()

const { users } = useUserStore()

const username = ref('')
const passwd = ref('')
const type = ref('')

watch(props, () => {
  if (props.show && props.variant === 'edit' && props.selectedUserId) {
    const findUser = users.find(el => el.id === props.selectedUserId)
    username.value = findUser.username
    passwd.value = findUser.passwd
    type.value = findUser.type
  }
})

const text = computed(() => {
  if (props.variant === 'add') {
    return 'Add'
  } else if (props.variant === 'edit') {
    return 'Edit'
  }
})

const submitUser = () => {
  if (props.variant === 'add') {
    emits('submitAddUser', {
      username: username.value,
      passwd: passwd.value,
      type: type.value,
    })
  } else if (props.variant === 'edit') {
    emits('submitEditUser', props.selectedUserId, {
      username: username.value,
      passwd: passwd.value,
      type: type.value,
    })
  }
}
</script>
