<template>
  <div>
    <table class="w-full">
      <thead class="border-b-2 border-black">
        <tr>
          <th class="w-1/12 text-left py-2">id</th>
          <th class="w-3/12 text-left py-2">Username</th>
          <th class="w-3/12 text-left py-2">Password</th>
          <th class="w-2/12 text-left py-2">Type</th>
          <th class="w-3/12 text-left py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in usersReactive" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.passwd }}</td>
          <td>{{ item.type }}</td>
          <td>
            <div class="flex justify-start py-2">
              <div class="mr-2">
                <button
                  class="p-2 text-md font-medium border-2 border-gray-900 rounded-md text-gray-900 py-2 px-5"
                  @click="onEditUser(item.id)"
                >
                  Edit
                </button>
              </div>
              <div>
                <button
                  class="p-2 text-md font-medium border-2 border-red-900 rounded-md text-red-900 py-2 px-5"
                  @click="onDeleteUser(item.id)"
                >
                  Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">
import { useUserStore } from '~/stores/users'
import { IUser } from '~~/types/global'

const { users, isFetched, initUsers } = useUserStore()

const usersReactive = ref([] as IUser[])

if (!isFetched) {
  const { data: usersRes, error: errorRes } = await useFetch<IUser[]>('/users', {
    baseURL: 'http://localhost:4700',
    initialCache: false,
    server: false,
  })

  watch(errorRes, () => {
    alert(errorRes.value)
  })

  watch(usersRes, () => {
    initUsers(usersRes.value)
    usersReactive.value = usersRes.value
  })
} else {
  usersReactive.value = users
}

const emits = defineEmits<{
  (e: 'onDeleteUser', id: number): void
  (e: 'onEditUser', id: number): void
}>()

const onEditUser = (id: number) => {
  emits('onEditUser', id)
}

const onDeleteUser = (id: number) => {
  emits('onDeleteUser', id)
}
</script>
